.cocktail_img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: medium;
  border-color: #0a5c15;
}

.cocktail_div {
  height: 600px;
  width: 500px;
  overflow-y: auto;
  float: left;
  position: relative;
  margin-left: -5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border-style: solid;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 40rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 6px 8px #0a5c15;
}

body {
  font-size: 18px;
  line-height: 1.625;
  font-family: "Bodoni 72", Arial, Helvetica, sans-serif;
}
