.cocktail_img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.cocktail_div {
  height: 750px;
  width: 500px;
  overflow-y: auto;
  float: left;
  position: relative;
  margin-left: -5px;
}

.hidden {
  visibility: hidden;
}
