.cocktail_img {
  display: inline-block;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-width: medium;
  border-color: #0a5c15;
  justify-self: center;
}

.card {
  text-align: center;
  border: rgb(187, 167, 52) solid 2px;
  padding: 2rem;
  width: 17rem;
  height: 55rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 6px 8px #0a5c15;
}

body {
  font-size: 18px;
  line-height: 1.625;
  font-family: "Bodoni 72", Helvetica, Arial, sans-serif;
}

.heading {
  text-align: center;
}

#create-cocktail-button {
  position: relative;
  background-color: #0a5c15;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

p {
  line-height: 20px;
  margin-top: 20px;
}

h1 {
  margin-bottom: 10px;
}
